{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/p_post.css' %}">
</head>
<body>
    <div class="psy-home">
        <img class="ellipse-1" />
        <div class="container-44">
          <span class="its-us-not-only-you">
            “ Its us not only you “
          </span>
        </div>
        <div class="container">
          <div class="group-115">
            <div class="rectangle-765">
            </div>
            <div class="frame-127">
              <a href="{% url 'Psy_home' %}">
              <div class="dash-board">
                <div class="home-3">
                  <img class="vector-4" />
                </div>
                <span class="home">
                  HOME
                </span>
              </div>
            </a>
            <a href="{% url 'Psy_schedule' %}">
              <div class="purchase">
                <div class="calendar-month-outline">
                  <img class="vector-2" />
                </div>
                <span class="schedule">
                  SCHEDULE
                </span>
              </div>
            </a>
            <a href="{% url 'Psy_earning' %}">
              <div class="sell">
                <div class="cash-multiple">
                  <img class="vector-1" />
                </div>
                <span class="earnings">
                  EARNINGS
                </span>
              </div>
            </a>
            <a href="{% url 'Psy_profile' %}">
              <div class="employee-menu">
                <div class="account-tie">
                  <img class="vector" />
                </div>
                <span class="profile">
                  PROFILE
                </span>
              </div>
            </div>
          </a>
          </div>
          <div class="container-43">
            <div class="submit-post-form">
              <div class="user-post">
                <img class="ellipse-2" />
                <div class="share-your-quote">
                  Share Your QUote?
                </div>
              </div>
              <div class="submit-button">
                <span class="post">
                  Post
                </span>
              </div>
            </div>
            
              
              <div class="frame-152">
                <div class="group-117">
                  <div class="profile-5">
                    <img class="ellipse-3" />
                    <div class="ramesh">
                      @ramesh
                    </div>
                  </div>
                  <div class="discription">
                    Amidst the gentle rustle of leaves in the tranquil park, a solitary figure finds solace on a weathered bench. Thoughts swirl like autumn leaves in the wind, each one a fleeting glimpse into the complexities of life. In the distance, the soft murmur of a nearby stream offers a gentle rhythm, a soothing backdrop to the tumultuous symphony of emotions within. 
                  </div>
                  <div class="group-116">
                    <div class="heart">
                      <img class="vector-7" />
                    </div>
                    <div class="comment">
                      <img class="vector-6" />
                    </div>
                    <div class="share-variant">
                      <img class="vector-8" />
                    </div>
                  </div>
                </div>
                <div class="group-118">
                  <div class="dis-card">
                    <div class="profile-10">
                      <img class="ellipse-311" />
                      <div class="ramesh-12">
                        @ramesh
                      </div>
                    </div>
                    <div class="discription-13">
                      Amidst the gentle rustle of leaves in the tranquil park, a solitary figure finds solace on a weathered bench. Thoughts swirl like autumn leaves in the wind, each one a fleeting glimpse into the complexities of life. In the distance, the soft murmur of a nearby stream offers a gentle rhythm, a soothing backdrop to the tumultuous symphony of emotions within. 
                    </div>
                    <div class="group-11614">
                      <div class="heart-17">
                        <img class="vector-18" />
                      </div>
                      <div class="comment-15">
                        <img class="vector-16" />
                      </div>
                      <div class="share-variant-19">
                        <img class="vector-20" />
                      </div>
                    </div>
                  </div>
                  <div class="group-143">
                    <span class="dont-worry-it-is-normal">
                      Dont worry it is normal
                    </span>
                  </div>
                  <div class="group-149">
                    <img class="ellipse-48" />
                    <div class="frame-150">
                      <div class="jonathon-methon">
                        Jonathon Methon
                      </div>
                      <span class="a-web-platform-that-makes-it-easier-for-people-to-connect-with-different-communities-according-to-their-city-location-and-interests">
                        A web platform that makes it easier for people to connect with different communities according to their city, location, and interests.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="group-119">
                  <div class="dis-card-22">
                    <div class="profile-23">
                      <img class="ellipse-324" />
                      <div class="ramesh-25">
                        @ramesh
                      </div>
                    </div>
                    <div class="discription-26">
                      Amidst the gentle rustle of leaves in the tranquil park, a solitary figure finds solace on a weathered bench. Thoughts swirl like autumn leaves in the wind, each one a fleeting glimpse into the complexities of life. In the distance, the soft murmur of a nearby stream offers a gentle rhythm, a soothing backdrop to the tumultuous symphony of emotions within. 
                    </div>
                    <div class="group-11627">
                      <div class="heart-30">
                        <img class="vector-31" />
                      </div>
                      <div class="comment-28">
                        <img class="vector-29" />
                      </div>
                      <div class="share-variant-32">
                        <img class="vector-33" />
                      </div>
                    </div>
                  </div>
                  <div class="group-14334">
                    <span class="dont-worry-it-is-normal-36">
                      Dont worry it is normal
                    </span>
                  </div>
                  <div class="group-14937">
                    <img class="ellipse-4839" />
                    <div class="frame-15040">
                      <span class="jonathon-methon-41">
                        Jonathon Methon
                      </span>
                      <span class="a-web-platform-that-makes-it-easier-for-people-to-connect-with-different-communities-according-to-their-city-location-and-interests-42">
                        A web platform that makes it easier for people to connect with different communities according to their city, location, and interests.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    
</body>
</html>