<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/p_schedule.css' %}">
</head>
<body>

    <div class="psy-schedule">
        <img class="ellipse-1" />
        <div class="container-10">
          <span class="its-us-not-only-you">
            “ Its us not only you “
          </span>
        </div>
        <div class="frame-126">
          <div class="frame-154">
            <div class="group-123">
              <div class="container-6">
                <img class="ellipse-8" />
                <div class="container-7">
                  <div class="aditi-tiwari">
                    ADITI TIWARI
                  </div>
                  <span class="loreum-ipsum">
                    Loreum ipsum
                  </span>
                </div>
              </div>
              <div class="container">
                <span class="00-am">
                  10:00 AM
                </span>
              </div>
            </div>
            <div class="group-124">
              <div class="container-9">
                <img class="ellipse-9" />
                <div class="container-8">
                  <div class="john-doe">
                    JOHN DOE
                  </div>
                  <span class="loreum-ipsum-1">
                    Loreum ipsum
                  </span>
                </div>
              </div>
              <div class="container-11">
                <span class="45-am">
                  11:45 AM
                </span>
              </div>
            </div>
          </div>
          <div class="image-6">
          </div>
          <div class="frame-138">
            <div class="group-120">
              <img class="ellipse-5" />
              <span class="today">
                TODAY
              </span>
              <span class="4">
                4
              </span>
            </div>
            <div class="group-121">
              <img class="ellipse-6" />
              <span class="waiting">
                WAITING
              </span>
              <span class="2">
                2
              </span>
            </div>
            <div class="group-122">
              <img class="ellipse-7" />
              <span class="done">
                DONE
              </span>
              <span class="0">
                0
              </span>
            </div>
          </div>
        </div>
        <div class="blogs">
          Blogs
        </div>
        <div class="rectangle-819">
        </div>
        <div class="group-116">
          <div class="rectangle-765">
          </div>
          <div class="dash-board">
            <div class="home">
              <img class="vector" />
            </div>
            <span class="home-2">
              HOME
            </span>
          </div>
          <div class="purchase">
            <div class="calendar-month-outline">
              <img class="vector-3" />
            </div>
            <span class="schedule">
              SCHEDULE
            </span>
          </div>
          <div class="sell">
            <div class="cash-multiple">
              <img class="vector-4" />
            </div>
            <span class="earnings">
              EARNINGS
            </span>
          </div>
          <div class="employee-menu">
            <div class="account-tie">
              <img class="vector-5" />
            </div>
            <span class="profile">
              PROFILE
            </span>
          </div>
        </div>
      </div>
    
</body>
</html>