{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="{% static '/css/post.css' %}">
</head>
<body>

    <div class="basic">
        <div class="container-14">
          <div class="its-us-not-only-you">
            “ Its us not only you “
          </div>
          <div class="search-bar">
            <div class="search-bar-4">
              <img class="vector-9" src="{% static '/ROOT/static_files/assets/vectors/vector9_x2.svg' %}" />
            </div>
            <div class="search">
              Search
            </div>
          </div>
        </div>
        <div class="container-13">
          <div class="group-115">
            <div class="rectangle-765">
            </div>
            <div class="frame-127">
              <a href="{% url 'student_post' %}">
              <div class="dash-board">
                <div class="monitor-dashboard">
                  <img class="vector" src="{% static '/ROOT/static_files/assets/vectors/vector_x2.svg' %}" />
                </div>
                <div class="feed">
                  Feed
                </div>
              </div>
            </a>
            <a href="{% url 'psyco' %}">
              <div class="purchase">
                <div class="face-agent">
                  <img class="vector-7" src="{% static '/ROOT/static_files/assets/vectors/vector7_x2.svg' %}" />
                </div>
                <span class="helpers">
                  Helpers
                </span>
              </div>
            </a>
            <a href="{% url 'communities' %}">
              <div class="sell">
                <div class="chart-line">
                  <img class="vector-1" src="{% static '/ROOT/static_files/assets/vectors/vector1_x2.svg' %}" />
                </div>
                <span class="communities">
                  Communities
                </span>
              </div>
            </a>
            <a href="{% url 'dash' %}">
              <div class="items-menu">
                <div class="package-variant-plus">
                  <img class="vector-2" src="{% static '/ROOT/static_files/assets/vectors/vector_x2.svg' %}"/>
                </div>
                <span class="survey">
                  Dashboard
                </span>
              </div>
            </a>
            <!-- <a href="{% url 'profile' %}"> -->
              <div class="employee-menu">
                <div class="account-tie">
                  <img class="vector-3" src="{% static '/ROOT/static_files/assets/vectors/vector3_x2.svg' %}"/>
                </div>
                <span class="profile">
                  Profile
                </span>
              </div>
            </div>
          <!-- </a> -->
          </div>
          <div class="container">
            <form action="/" method="post">
              {% csrf_token %}
              <div class="submit-post-form">
                <div class="user-post">
                  <img class="ellipse-2"src="{% static '/ROOT/static_files/assets/vectors/ellipse2_x2.svg' %}" />
                  {{post_form.content}}
                    
                </div>
                <div class="submit-button">
                  <button type="submit" class="post">
                    Post
                  </button>
                </div>
              </div>

            </form>
            
            <div class="container-11">
              
              <div class="card">
                
                {% for item in post %}
                <div class="dis-card">
                  <div class="profile-8">
                    <img class="ellipse-3" src="{% static '/ROOT/static_files/assets/vectors/ellipse3_x2.svg' %}"/>
                    <div class="ramesh">
                      {% if item.is_anonymous %}
                        @Anon
                      {% else %}
                        @{{item.user}}
                      {% endif %}
                    </div>
                  </div>
                  <div class="discription">
                    {{item.content}}  
                  </div>
                  <div class="group-116">
                    <div class="heart">
                      <img class="vector-4" src="{% static '/ROOT/static_files/assets/vectors/vector4_x2.svg' %}"/>
                    </div>
                    <div class="comment">
                      <img class="vector-5" src="{% static '/ROOT/static_files/assets/vectors/vector5_x2.svg' %}"/>
                    </div>
                    <div class="share-variant">
                      <img class="vector-6" src="{% static '/ROOT/static_files/assets/vectors/vector6_x2.svg' %}"/>
                    </div>
                  </div>
                </div>


                {% endfor %}
                <div class="container-12">
                  
                </div>
              </div>
              <div class="categories-10">
                <div class="categories">
                  Categories
                </div>
                <span class="motivation">
                  #motivation<br />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>